In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("houses_to_rent.csv")

In [3]:
df.head(10)

,ID,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
5,5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270"
6,6,1,55,1,1,1,2,acept,furnished,"R$1,950","R$5,000",R$375,R$64,"R$7,389"
7,7,1,55,2,2,1,2,acept,not furnished,R$600,"R$1,300",R$67,R$17,"R$1,984"
8,8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963"
9,9,1,32,1,1,1,16,acept,not furnished,R$533,"R$2,900",R$0,R$37,"R$3,470"

In [4]:
df.drop(['ID'],axis=1,inplace=True)

In [5]:
df['floor_no'] = df['floor'].apply(lambda x: 0 if x=="-" else x)

df['animal_allw'] = df['animal'].apply(lambda x: 1 if x == "acept" else 0)

df['furniture_furnish'] = df['furniture'].apply(lambda x: 1 if x == "furnished" else 0)

df['Hassoc_tax'] = df['hoa'].apply(lambda x: x.split('$')[-1])

df['rent'] = df['rent amount'].apply(lambda x: x.split('$')[-1])

df['prop_tax'] = df['property tax'].apply(lambda x: x.split('$')[-1])

df['fire_insur'] = df['fire insurance'].apply(lambda x: x.split('$')[-1])

In [6]:
df.head(10)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,floor_no,animal_allw,furniture_furnish,Hassoc_tax,rent,prop_tax,fire_insur
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",0,1,1,0,"8,000","1,000",121
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",10,1,0,540,820,122,11
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",3,1,1,"4,172","7,000","1,417",89
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",12,1,0,700,"1,250",150,16
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",0,0,0,0,"1,200",41,16
5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270",2,1,0,0,"2,200",42,28
6,1,55,1,1,1,2,acept,furnished,"R$1,950","R$5,000",R$375,R$64,"R$7,389",2,1,1,"1,950","5,000",375,64
7,1,55,2,2,1,2,acept,not furnished,R$600,"R$1,300",R$67,R$17,"R$1,984",2,1,0,600,"1,300",67,17
8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963",3,1,1,828,"2,000",109,26
9,1,32,1,1,1,16,acept,not furnished,R$533,"R$2,900",R$0,R$37,"R$3,470",16,1,0,533,"2,900",0,37

In [7]:
df.columns

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total', 'floor_no', 'animal_allw',
       'furniture_furnish', 'Hassoc_tax', 'rent', 'prop_tax', 'fire_insur'],
      dtype='object')

In [8]:
df_out = df[['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor_no', 'animal_allw', 'furniture_furnish', 'Hassoc_tax', 'rent', 'prop_tax', 'fire_insur']]

In [9]:
df_out.head(10)

,city,area,rooms,bathroom,parking spaces,floor_no,animal_allw,furniture_furnish,Hassoc_tax,rent,prop_tax,fire_insur
0,1,240,3,3,4,0,1,1,0,"8,000","1,000",121
1,0,64,2,1,1,10,1,0,540,820,122,11
2,1,443,5,5,4,3,1,1,"4,172","7,000","1,417",89
3,1,73,2,2,1,12,1,0,700,"1,250",150,16
4,1,19,1,1,0,0,0,0,0,"1,200",41,16
5,1,13,1,1,0,2,1,0,0,"2,200",42,28
6,1,55,1,1,1,2,1,1,"1,950","5,000",375,64
7,1,55,2,2,1,2,1,0,600,"1,300",67,17
8,1,82,3,1,1,3,1,1,828,"2,000",109,26
9,1,32,1,1,1,16,1,0,533,"2,900",0,37

In [10]:
df_out.to_csv("houses_to_rent_cleaned.csv",index=False)